<form ng-submit="connectionManager(roomName, audienceMemberName)">
  <input type="text" ng-model="roomName">
  <input type="text" ng-model="audienceMemberName">
  <button>Create Room!</button>
</form>
<h1>Local Video</h1>
<video id="local-video" autoplay muted style="width:40%;" ng-src="{{localStream}}"></video>
<button ng-click="connectionManager()">{{ micStatus.command }}</button>


<div>
  <a href='#/main'>Exit the room </a>
</div>

<div class="micToggle" ng-click="toggle()">
  <img src="mic.svg">
</div>
