  <h1>Audience Video</h1>
  Connections count: {{connections.length}}
  <div id="videos"></div>



<div>
  <a href="#/main">End the session</a>
  <th>Participants currently in the room
    <tr ng-repeat="user in users">
      <td> {{ user.name }} </td>
    </tr>
  </th>
    <!-- <div ng-repeat="user in users" ng-click="mute(user)"> -->
      <!-- <tr> -->
        <!-- <td> {{ user.name }}</td> -->
        <!-- <td> {{ Mic icon that lets you mute the person }} </td>-->
      <!-- </tr> -->
    <!-- </div> -->
</div>